.noItems{
    font-size: xx-large;
}

.item {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 25px);
    margin-top: 16px;
    margin-right: 20px;
    position:relative;
    max-width: 450px;
    min-width: 150px;
    background-color: white;
}

.item_main {
    border: 1px solid #e1e1e1;
    cursor: pointer;
    
}

.item_container {
    position: relative;
    padding: 8px;
}

.browse_container {
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
    overflow: scroll;
    height: calc(100% - 40px);
    background-color: rgb(239,239,239);
    top: 60px;
}

.keep_left {
    position: absolute;
    left: 20px;
    width: calc(100% - 20px);
}

.item-photo {
    padding-top: 75%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.item_name {
    overflow: hidden;
    text-align: center;
    height: 36px;
}

.item_price {
    text-align: center;
    font-weight: 600;
}

.button {
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    margin: 4px;;
    cursor: pointer;
}

.btnDiv {
    text-align: center;
}