<div class="item_container">
  <div class="item" *ngFor="let product of prodList">
    <div class="item_main">
      <div class="item-photo" [style.backgroundImage]="getImgPath(product)">
      </div>
      <div class="item_name">
        {{product.name}}
      </div>
      <div class="item_price">
        {{"$" + product.price}}
      </div>
      <div class="btnDiv">
        <button (click)="OnAddToCartClicked(product)" class="button">
          Add To Cart
        </button>
      </div>
    </div>
  </div>

  <div class="noItems" *ngIf="!prodList || prodList.length <= 0">No items.</div>
</div>