.noItems{
    font-size: xx-large;
}

.item {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 25px);
    margin-top: 16px;
    margin-right: 20px;
    position:relative;
    max-width: 450px;
}

.item_main {
    border: 1px solid gray;
    cursor: pointer;
}

.item_container {
    position: relative;
    padding: 8px;
}

.browse_container {
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
}

.item-photo {
    padding-top: 75%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.item_name {
    overflow: hidden;
    text-align: center;
    height: 36px;
}

.item_price {
    text-align: center;
    font-weight: 600;
}

.button {
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    margin: 4px;;
    cursor: pointer;
}

.btnDiv {
    text-align: center;
}