.app-filter{
    background-color:#ebebeb;
    width: 200px;
    z-index: 1;
    padding: 20px;
    height: calc(100% - 40px);
}

input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
  }

.filter-area{
    margin-left: 15px;
    margin-bottom: 10px;
}
